<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AXERA MOTOR</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="form-card">
        <div class="tabs">
            <a href="login.html" class="tab-item active">Login</a>
            <a href="signup.html" class="tab-item">Sign Up</a>
        </div>

        <form action="home.html" method="get" class="login-form">
            <input type="text" placeholder="ENTER YOUR USERNAME" required>
            <input type="password" placeholder="ENTER YOUR PASSWORD" required>
            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>
